<!DOCTYPE html>
<html lang="pt-BR" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Inscrições por Modalidade | ORAR 2026</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/blue-master/css/font-awesome.min.css">
    <link rel="stylesheet" href="/blue-master/css/bootstrap.min.css">
    <link rel="stylesheet" href="/blue-master/css/animate.css">
    <link rel="stylesheet" href="/blue-master/css/main.css">
    <script src="/blue-master/js/modernizr-2.6.2.min.js"></script>
  </head>
  <body id="body">
    <%= render "shared/navbar" %>

    <main class="site-content" role="main">
      <section id="inscricoes-modalidades" style="padding-top: 140px;">
        <div class="container">
          <div class="row">
            <div class="sec-title text-center wow animated fadeInDown">
              <h2>Inscrições por Modalidade</h2>
              <p>ORAR22026</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script src="/blue-master/js/jquery-1.11.1.min.js"></script>
    <script src="/blue-master/js/bootstrap.min.js"></script>
    <script src="/blue-master/js/jquery.singlePageNav.min.js"></script>
    <script src="/blue-master/js/jquery.easing.min.js"></script>
    <script src="/blue-master/js/wow.min.js"></script>
    <script src="/blue-master/js/main.js"></script>
  </body>
</html>
