<div id="<%= dom_id a_sociedade %>">
  <div>
    <strong>Nome:</strong>
    <%= a_sociedade.nome %>
  </div>

  <div>
    <strong>A distrito:</strong>
    <%= a_sociedade.a_distrito_id %>
  </div>

</div>
