<% content_for :title, "Editing a sociedade" %>

<h1>Editing a sociedade</h1>

<%= render "form", a_sociedade: @a_sociedade %>

<br>

<div>
  <%= link_to "Show this a sociedade", @a_sociedade %> |
  <%= link_to "Back to a sociedades", a_sociedades_path %>
</div>
