<% content_for :title, "Editing a modalidade" %>

<h1>Editing a modalidade</h1>

<%= render "form", a_modalidade: @a_modalidade %>

<br>

<div>
  <%= link_to "Show this a modalidade", @a_modalidade %> |
  <%= link_to "Back to a modalidades", a_modalidades_path %>
</div>
