<% content_for :title, "New a modalidade" %>

<h1>New a modalidade</h1>

<%= render "form", a_modalidade: @a_modalidade %>

<br>

<div>
  <%= link_to "Back to a modalidades", a_modalidades_path %>
</div>
